.holding-page
    position: absolute
    width: 100%
    min-height: 100vh
    min-height: -webkit-fill-available
    background: white
    z-index: 999
    display: grid
    align-content: center

    &__content
        font-family: $bodyFont
        width: 100%
        min-height: 100vh
        min-height: -webkit-fill-available
        margin: auto
        text-align: center
        display: flex
        flex-direction: column
        justify-content: space-between

    &__logo
        width: 50%
        margin: 20px auto

        @include small
            width: 250px

        @include huge
            width: 500px
            margin-top: 100px

    &__text-container
        flex: 1
        width: 100%
        margin: auto
        padding: 10px

    &__header
        font-family: $headerFont
        font-size: 2rem

        @include medium
            font-size: 3.5rem

        @include huge
            font-size: 10rem
            margin-top: 10rem

    &__text
        width: 90%
        margin: 1rem auto
        font-size: 1.2rem
        text-align: center

        @include medium
            font-size: 2rem
            line-height: 2rem
            margin: 40px auto

        @include huge
            font-size: 4rem
            line-height: 4rem
            margin: 40px auto

        &--small
            font-size: 0.8rem
            margin: 0
            color: white

            @include medium
                font-size: 1rem

            @include huge
                font-size: 2.5rem

    &__button
        display: grid
        align-items: center
        width: 75px
        height: 75px
        background: $mainColor
        padding: 15px
        margin: 20px auto
        border-radius: 5px

        @include small
            width: 100px
            height: 100px
            padding: 20px

        @include huge
            width: 300px
            height: 300px
            padding: 50px
            margin-top: 100px

        &:hover
            background: grey

    &__copyright
        width: 100%
        color: white
        background: $mainColor
        display: flex
        justify-content: center
        align-items: center
        height: 50px

        @include huge
            height: 100px
